<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyemleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT Systems Meetings</title>
  </head>
  <body>
    <h2>IT Systems Meetings Page</h2>

    <p>
      We have annula holiday Caribbean cruise comming up. Register now!
      <br />
      Keep this trip a secret, don't tell the regular employee LOL
    </p>

    <hr />

    <a th:href="@{/}">Back to Home page</a>
  </body>
</html>
