<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>

    <!--  Add Style  -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

    <i>Fill out the form, Asterisk (*) means required</i>

    <br/> <br/>

    <form th:action="@{/processCustomerForm}" th:object="${customer}" method="post">
        <label for="firstName">First Name: </label>
        <input type="text" id="firstName" name="firstName" th:field="*{firstName}" />

        <br/> <br/>

        <label for="firstName">Last Name (*): </label>
        <input type="text" id="lastName" name="firstName" th:field="*{lastName}" />

        <!--    Add error message (if present)    -->
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>

        <br/> <br/>

        <label for="freePasses">Free Passes (*): </label>
        <input type="text" id="freePasses" name="freePasses" th:field="*{freePasses}" />

        <!--    Add error message (if present)    -->
        <span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>

        <br/> <br/>

        <label for="postalCode">Postal Code (*): </label>
        <input type="text" id="postalCode" name="postalCode" th:field="*{postalCode}" />

        <!--    Add error message (if present)    -->
        <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error"></span>

        <br/> <br/>

        <label for="courseCode">Course Code: </label>
        <input type="text" id="courseCode" name="courseCode" th:field="*{courseCode}" />

        <!--    Add error message (if present)    -->
        <span th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" class="error"></span>

        <br/> <br/>

        <input type="submit" value="Submit" />
    </form>

</body>
</html>