<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyemleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaders Meetings</title>
  </head>
  <body>
    <h2>Leaders Meetings Page</h2>

    <p>
      See you in Brazil ... for our annual Leadership retreat!
      <br />
      Keep this trip a secret, don't tell the regular employee LOL
    </p>

    <hr />

    <a th:href="@{/}">Back to Home page</a>
  </body>
</html>
